<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>notificationTypes</key>
	<dict>
		<key>alert</key>
		<true/>
		<key>sound</key>
		<true/>
		<key>badge</key>
		<true/>
	</dict>
	<key>applicationSecret</key>
	<string>Your-PUSHTech-APP-Secret</string>
	<key>applicationID</key>
	<string>Your-PUSHTech-APP-ID</string>
</dict>
</plist>
